body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer {
  position:absolute;
  min-width: 25px;
  min-height: 25px;
}

.blueJumper {
  background: url('img/logo.png');
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  border: 0px solid;
  /*border-radius: 5px;*/
  position: absolute;
}

.crazyBlue {
-webkit-transition: width 0.2s, height 0.2s, background-color 0.2s, -webkit-transform 0.2s;
transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.2s;
-webkit-transform:rotate(360deg);
transform:rotate(360deg);
}

.shyDancer {
  border: 15px dotted orange;
  border-radius: 5px;
  position: absolute;
  width: 125px;
  height: 15px;
//  background-color: white;
}

.yellowBG {
  background: 'yellow';
}

.blinky {
  border:10px solid red;
  border-radius:10px;

}


